.home-main-container {
  background-image: url('https://res.cloudinary.com/dwj8ezxgi/image/upload/v1714582076/wp2581913-man-of-steel-wallpaper_1_s9tgy2.png');
  background-size: cover;
  min-height: 75vh;
}
